.idea/
backend/.env
backend/.env.test
backend/.idea/
backend/alembic/versions/
backend/config/local.ini
**__pycache__/
backend/alembic/script.py.mako
backend/alembic/alembic/README
frontend/glimmershop/src/images/
frontend/glimmershop/src/.env
backend/images/


