aioredis==2.0.1
alembic==1.8.1
annotated-types==0.6.0
anyio==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.3
asyncpg==0.29.0
bcrypt==3.2.0
black==24.10.0
brotli-python==1.0.9
bzip2==1.0.8
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==2.0.4
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
dnspython==2.6.1
ecdsa==0.17.0
email-validator==2.1.1
expat==2.6.2
fastapi==0.103.0
fastapi-sessions==0.3.2
flake8==7.1.1
future==0.18.3
greenlet==3.0.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.4
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
libffi==3.4.4
mako==1.2.3
markupsafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
passlib==1.7.4
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pyasn1==0.4.8
pycodestyle==2.12.1
pycparser==2.21
pycryptodome==3.15.0
pydantic==2.5.3
pydantic-core==2.14.6
pyflakes==3.2.0
pysocks==1.7.1
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-mock==3.14.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.6
redis==5.0.7
requests==2.32.2
rsa==4.7.2
setuptools==68.2.2
six==1.16.0
sniffio==1.3.0
sqlalchemy==2.0.25
starlette==0.27.0
stripe==10.5.0
typing-extensions==4.9.0
typing_extensions==4.9.0
urllib3==2.2.2
uvicorn==0.20.0
wheel==0.41.2
win_inet_pton==1.1.0
