.seller-home-header-section {
  padding: 0;
  padding-top: 1%;
  margin: 2rem 0 0 5rem;
  align-self: flex-start;
  text-align: left;
}

.seller-home-wrapper h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.625rem;
}

.seller-home-searchbar {
  width: 20%;
}

.submit-search-btn {
  min-width: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0.625rem 1rem;
  margin-top: 1.25rem;
  outline: none;
  border: none;
  background-color: #ededed;
}

.submit-search-btn:hover {
  background-color: lightgray;
  box-shadow: none;
}

.clear-search-btn {
  margin-left: 1rem;
}


/* Media query for mobile phones */
@media (max-width: 768px) {
  .seller-home-header-section {
    width: 90%;
    margin: auto;
  }

  .seller-home-header-section {
    margin: 1.5rem 1.5rem;
  }

  .seller-home-wrapper h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }
  .seller-home-searchbar {
    width: 50%;
  }
}

/* Media query for larger screens */
@media (min-width: 768px) and (max-width: 1900px) {
  .seller-home-header-section {
    width: 90%;
    margin: auto;
  }

  .seller-home-header-section {
    padding-left: 2%;
  }

  .seller-home-wrapper h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }
  .seller-home-searchbar {
    width: 40%;
  }
}
